@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <style>
        h1.change {
            background-color: aliceblue;
        }
    </style>

}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a></p>
</div>

<button class="btn btn-primary mb-3" type="button" id="buttonClick">Create</button>


@section Scripts
{
    <script>
        
        const btn = document.querySelector('#buttonClick');
        const myH = document.querySelector('.display-4');
       
        btn.addEventListener('click', () => {
          
            myH.textContent = "Welcome MVC!!";
            $('.display-4').text("Welcome MVC!!").css("background-color", "aqua");

    
            var emps = [{ "name": "Tom", "workYears": 3, "salary": 35000 },
            { "name": "Jack", "workYears": 5, "salary": 40000 },
            { "name": "Mary", "workYears": 7, "salary": 45000 }];
            //[{},{},{}]
            //array[index 0,1,2]
            //const emp = emps[1] //{ "name": "Jack", "workYears": 5, "salary": 40000 }
            ////object.prop  emp.name => Jack
            //myH.textContent = emp.salary
 
            //for (let i = 0, max = emps.length; i < max; i++) {
            //    console.log(emps[i].name)
            //    console.log(emps[i].workYears)
            //    console.log(emps[i].salary)
            //}

            var emp = {
                "employees": [
                    { "name": "Tom", "workYears": 3, "salary": 35000 },
                    { "name": "Jack", "workYears": 5, "salary": 40000 },
                    { "name": "Mary", "workYears": 7, "salary": 45000 }
                ]
            };
            for (let i = 0; i < emp.employees.length; i++) {
                //console.log(emps[i].name)
                //console.log(emps[i].workYears)
                //console.log(emps[i].salary)
            }

            emp.employees.forEach(employees => {
                const { name, workYears, salary } = employees;
                console.log(name);
                console.log(workYears);
                console.log(salary);
            })
        });


        $("#buttonClick").on("click", function () {
            var emp = {
                "employees": [
                    { "name": "Tom", "workYears": 3, "salary": 35000 },
                    { "name": "Jack", "workYears": 5, "salary": 40000 },
                    { "name": "Mary", "workYears": 7, "salary": 45000 }
                ]
            };
            $.each(emp.employees, (idx, employee) => {
                const { name, workYears, salary } = employee
                console.log(name)
                console.log(workYears)
                console.log(salary)
            })
        })

    </script>


}